<!DOCTYPE html>
<html>

<head>
  <title>404 Not Found</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <h1>404 - Page not found</h1>
    <p>Could not find <%= url %>
    </p>
    <a href="/dashboard">Go Home</a>
  </div>
</body>

</html>